@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body,
div,
p,
ul,
li,
a,
img,
span,
input,
button {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  border: none;
  font-family: Rubik;
  font-weight: 400;
}

body {
  display: grid;
  height: 100%;
  justify-content: center;
  place-items: center;
  background-color: #e3e3e3;

}

.div_login {
  margin-top: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_login {
  font-size: 24px;
  padding: 3px 16px 1px 18px;
  border-radius: 6px;
  color: black;
  width: 144%;
}
.btn_user {
  margin-top: 7%;
  width: 41%;
  font-size: 21px;
  background-color: black;
  color: white;
  padding: 3px 11px;
  border-radius: 18px;
  font-weight: 700;
}
.div_cracha_style {
  margin-top: 20%;
  width: 280px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #202020;
  color: white;
  box-shadow: 8px 14px 5px rgb(0 0 0 / 41%);
}
.user_name {
  font-size: xx-large;
  font-weight: bold;
}
.img_user {
  margin-top: 8%;
  width: 165px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.div_github {
  display: flex;
  margin-bottom: 4px;
}
.bio_github {
  padding: 30px;
}
.div_img_user {
  margin-bottom: 14px;
}
.div_bio_github {
  margin-bottom: 18px;
}
.lista_links {
  display: flex;
  align-items: center;
}
.links {
  margin-right: 10px;
}
